/*
RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}


/*
LAYOUT
*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}



/*
COLOR & STYLE
*/


.main-header {
    background: red;
}

.main-footer {
    background: blue;
}

section {
    background: yellow;
}

.card {
    color: #fff;
    background: green;
}


/*
RESPONSIVE
*/

/* Breakpoint bei 580px */
@media (max-width: 36em) {

}

/* Breakpoint bei 900px */
@media (max-width: 56em) {

}

/* Breakpoint bei 1200px */
@media (max-width: 75em) {

}

